apiVersion: v1
kind: Secret
metadata:
  name: ${CFG_POSTGRES_NAME}
  namespace: ${CFG_POSTGRES_NAMESPACE}
  labels:
    app: ${CFG_POSTGRES_NAME}
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/instance: ${CFG_POSTGRES_NAME}
    app.kubernetes.io/managed-by: gke-postgresql-statefulset
type: Opaque
# 記号を含むパスワードでも YAML が壊れないよう base64 (data) で埋め込む
data:
  # スーパーユーザ postgres のパスワード
  POSTGRES_PASSWORD: ${CFG_RESOLVED_SUPERUSER_PASSWORD_B64}
  # アプリケーション用ユーザのパスワード
  APP_PASSWORD: ${CFG_RESOLVED_APP_PASSWORD_B64}
  # レプリケーション用ロールのパスワード
  REPLICATION_PASSWORD: ${CFG_RESOLVED_REPLICATION_PASSWORD_B64}
